mixin footer
  footer.footer
    nav
      .nav-wrapper.container
        a.brand-logo(href='#!')
          img(src="/images/logo.png", alt="cosmogen")
        ul.right.desctopMenu
          li.currentLink
            a.scrollto(href='#home') ГЛАВНАЯ
          li
            a.scrollto(href='#whyus') ПОЧЕМУ МЫ?
          li
            a.scrollto(href='#certificate') Патенты
          li
            a.scrollto(href='#howWork') КАК ЭТО РАБОТАЕТ
          li
            a.scrollto(href='#ourProductions') НАША ПРОДУКЦИЯ
          li
            a.scrollto(href='#receptions') РЕЦЕПТЫ
          li
            a.scrollto(href='#reviews') ОТЗЫВЫ
          li.infoContact
            .phones
              .icon-cm.icon-phone
              .phone
                span (050)195-57-09
                span (063)410-64-10
            .email
              .icon-cm.icon-email
              a(href="#") info@cosmogen.com.ua
