mixin header
  header.header
    nav
      .nav-wrapper.container
        a.brand-logo(href='#!')
          img(src="/images/logo.png", alt="cosmogen")
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.right.hide-on-med-and-down.desctopMenu
          li.currentLink
            a(href='#') ГЛАВНАЯ
          li
            a(href='#') ПОЧЕМУ МЫ?
          li
            a(href='#') Патенты
          li
            a(href='#') КАК ЭТО РАБОТАЕТ
          li
            a(href='#') НАША ПРОДУКЦИЯ
          li
            a(href='#') РЕЦЕПТЫ
          li
            a(href='#') ОТЗЫВЫ
          li.infoContact
            .phones
              .icon-cm.icon-phone
              .phone
                span (050)195-57-09
                span (063)410-64-10
            .email
              .icon-cm.icon-email
              a(href="#") info@cosmogen.com.ua
        ul#mobile-demo.side-nav
          li
            a(href='#') ГЛАВНАЯ
          li
            a(href='#') ПОЧЕМУ МЫ?
          li
            a(href='#') Патенты
          li
            a(href='#') КАК ЭТО РАБОТАЕТ
          li
            a(href='#') НАША ПРОДУКЦИЯ
          li
            a(href='#') РЕЦЕПТЫ
          li
            a(href='#') ОТЗЫВЫ
