mixin ourProduction
  .ourProduction
    .brendTitleWhite
      i.icon-cm.icon-fire-orange
      h2 Наша продукция
    .products.darkControl
      #owl-product
        .product
          .wrappImg
            img(src="/images/upload/dscn1453-copy.jpg", alt="")
          .titleProduct Cosmogen CSFE-750
        .product
          .wrappImg
            img(src="/images/upload/dscn2769.jpg", alt="")
          .titleProduct Cosmogen CSFE-750
        .product
          .wrappImg
            img(src="/images/upload/dscn2942.jpg", alt="")
          .titleProduct Cosmogen CSFE-750
        .product
          .wrappImg
            img(src="/images/upload/dscn2942.jpg", alt="")
          .titleProduct Cosmogen CSFE-750


  .receptionProduct#receptions
    .brendTitleOrange
      i.icon-cm.icon-fire-white
      h2 Рецепты
    .products.lightControl
      #owl-recept
        .product
          .descProduct
            h3 Скумбрия холодного копчения
            p в домашних условиях с помощью электростатической коптильни COSMOGEN CSFE-750
          .wrappImg
            img(src="/images/upload/img1.jpg", alt="")

        .product
          .descProduct
            h3 мясо горячего копчения
            p Мясо горячего копчения в домашних условиях с помощью электростатической коптильни COSMOGEN СSFE-750 (варено-копченое)
          .wrappImg
            img(src="/images/upload/img2.jpg", alt="")

        .product
          .descProduct
            h3 красная рыба холодного копчения
            p в домашних условиях с помощью электростатической коптильни COSMOGEN CSFE-750
          .wrappImg
            img(src="/images/upload/img3.jpg", alt="")

        .product
          .descProduct
            h3 красная рыба холодного копчения
            p в домашних условиях с помощью электростатической коптильни COSMOGEN CSFE-750
          .wrappImg
            img(src="/images/upload/dscn2942.jpg", alt="")
      a.btn.btnBrend.modal-trigger(href="#modal3" data-target="modal") Добавить рецепт

   #modal3.modal.center.modal-large.modal-recept
    .modal-content
      a.modal-close(href='#!')
        i.icon-cm.icon-close-balck
      h4
        span Скумбрия холодного копчения в домашних условиях с помощью электростатической коптильни COSMOGEN CSFE-750
      .description
        .descParagraph
          p Друзья попросили закоптить скумбрию. Рыбка предварительно была засолена, так что мне оставалось только слегка подсушить поверхность продукта и закоптить.
          p От силы время с подсушкой и копчением в коптильне с электростатикой COSMOGEN CSFE-750 заняло 30минут.
          p Расскажу как правильно засолить рыбу и закоптить холодным способом.
          p С помощью рецепта приведенным мною ниже вы сможете засолить многие виды рыб, скумбрия, сельдь, лещ, карп, карась, окунь, толстолобик, тарань и мн.др.

          h5.orangeText Ингредиенты

          p
            | На 1 литр маринада:
            br
            | 80 г соли
            br
            | 30 г сахара
            br
            | 1 шт. лаврового листа
            br
            | 0,5 пакетика черного чая (на пять литров маринада 3 пакетика чая)
            br
            | 3-5 горошин черного перца
            br
            | Если специи не любите, то можете спокойно оставить только соль и сахар.

          h5.orangeText Приготовление:

          p Маринад доводим до кипения и варим 10-15 минут на маленьком огне. Остывшим маринадом заливаем рыбу. Не выше 30 градусов по Цельсию. Маринад должен полностью покрывать всю рыбу. Ставим в холодильник. Через 12-72 часа рыбу развешиваем в коптильне за хвосты и обсушиваем. Поверхность рыбы должна быть сухой. Коптим рыбу холодным дымом, температура не должна превышать 33 градусов по Цельсию. После копчения рыбу смазать растительным маслом. Вкус и аромат рыбы меняется в лучшую сторону от срока хранения. Через трое суток и более хранения органолептические свойства превосходные.

          p
            | Продолжу как проходил процесс холодного копчения скумбрии в электростатической коптильне.
            br
            | Через 15 минут коптильню отключил.
            br
            | Ниже на фотографиях виден результат копчения скумбрии холодным способом с помощью электростатической коптильни COSMOGEN CSFE-750.

          p
            | Копчение производилось буковой щепой.
            br
            | Копченую рыбу уложил в вакуумный пакет и завакуумировал, для созревания и хранения в холодильнике.
          p
            | Созревание скумбрии занимает пару суток.
            br
            | Вкус копченой скумбрии превосходный, аромат непередаваемый!
      #owl-recept-popup.lightControl
        .product
          .wrappImg
            img(src="/images/upload/1-image.png", alt="")

        .product
          .descProduct

          .wrappImg
            img(src="/images/upload/2-image.jpg", alt="")

        .product
          .descProduct

          .wrappImg
            img(src="/images/upload/3-image.jpg", alt="")

        .product
          .descProduct

          .wrappImg
            img(src="/images/upload/dscn2942.jpg", alt="")
