mixin ourProduction
  .ourProduction
    //- .wrappContainer
    .brendTitleWhite
      i.icon-cm.icon-fire-orange
      h2 Наша продукция
    .products.lightControl
      #owl-product
        .product
          .wrappImg
            img(src="/images/upload/dscn1453-copy.jpg", alt="")
          .titleProduct Cosmogen CSFE-750
        .product
          .wrappImg
            img(src="/images/upload/dscn2769.jpg", alt="")
          .titleProduct Cosmogen CSFE-750
        .product
          .wrappImg
            img(src="/images/upload/dscn2942.jpg", alt="")
          .titleProduct Cosmogen CSFE-750
        .product
          .wrappImg
            img(src="/images/upload/dscn2942.jpg", alt="")
          .titleProduct Cosmogen CSFE-750


  .receptionProduct
    //- .wrappContainer
    .brendTitleOrange
      i.icon-cm.icon-fire-white
      h2 Рецепты
    .products.lightControl
      #owl-recept
        .product
          .descProduct
            h3 Скумбрия холодного копчения
            p в домашних условиях с помощью электростатической коптильни COSMOGEN CSFE-750
          .wrappImg
            img(src="/images/upload/img1.jpg", alt="")

        .product
          .descProduct
            h3 мясо горячего копчения
            p Мясо горячего копчения в домашних условиях с помощью электростатической коптильни COSMOGEN СSFE-750 (варено-копченое)
          .wrappImg
            img(src="/images/upload/img2.jpg", alt="")

        .product
          .descProduct
            h3 красная рыба холодного копчения
            p в домашних условиях с помощью электростатической коптильни COSMOGEN CSFE-750
          .wrappImg
            img(src="/images/upload/img3.jpg", alt="")

        .product
          .descProduct
            h3 красная рыба холодного копчения
            p в домашних условиях с помощью электростатической коптильни COSMOGEN CSFE-750
          .wrappImg
            img(src="/images/upload/dscn2942.jpg", alt="")
      .btn.btnBrend Добавить рецепт

