mixin photoWrapp
  .photoWrapp
    .wrappContainer
      .description
        .title
          h1 Коптильни для холодного и горячего копчения
            span от производителя
          i.icon-cm.icon-arrow
        a.btn.btnBrend.waves-effect.waves-light.modal-trigger(href="#modal1" data-target="modal1") Узнать подробнее
  #modal1.modal.center
    .modal-content
      a.modal-close(href='#!')
        i.icon-cm.icon-close
      h4 Мы свяжемся с вами
      form.form
      input#first_name(type="text" placeholder="Введите Ваше имя" class="validate")
      input#icon_telephone(type="tel" placeholder="Введите Ваше телефон" class="validate")
      .btn.btnBrend.modal-action Перезвоните мне
