mixin photoWrapp
  .photoWrapp
    .wrappContainer
      .description
        .title
          h1 Коптильни для холодного и горячего копчения
            span от производителя
          i.icon-cm.icon-arrow
        a.btn.btnBrend.waves-effect.waves-light(href="#") Узнать подробнее
