mixin reviews
  .reviews
    .wrappContainer
      .brendTitleWhite
        i.icon-cm.icon-fire-orange
        h2 Отзывы наших клиентов
      .reviewVkFb
        .col.l6.reviewContent
          #vk_comments
        .col.l6.reviewContent
      .reviewOther.row.center
        .col.l6.reviewContent
          .desc
            | В електриці я не дуже. Але чомусь мене зацікавило копчення
            | завдяки електростатиці. Почав вивчати і побачив продукцію НВО COSMOGEN. Спочатку віднісся дуже скептично – за 15 хв. закоптити продукт та ще й
            | холодним чином – не вірилось. Придивлявся, прицінювався. І тут бачу оголошення -продам COSMOGEN CSFE-750 бу. Подумав варто спробувати. Зробив заміри на балконі, де планував поставити коптильню – ідеально. Купив в одному з ресторанів Києва. Мені повідомили, що коптильня в ідеальному стані, все працює – включай і працюй - нам не потрібно, у нас змінився повар і меню, копчення вже не цікавить
            | і тп. Чекати не став. Привіз, поставив на балконі – вписалась в інтер’єр. Замаринував скумбрію, підвісив в коптильні – не працює. Не працювала електростатика. Я спробував закоптити звичайним холодним копченням – тобто працює тільки компресор. За 6 годин все вийшло.
          .user
            .userWrapp
              .avatar
                img(src="/images/upload/avatar.jpg", alt="Tor")
              .name
                strong Виктор
                span=" 11.07.2016, 17:33"
        .col.l6.reviewContent
            .desc
              | В електриці я не дуже. Але чомусь мене зацікавило копчення
              | завдяки електростатиці. Почав вивчати і побачив продукцію НВО COSMOGEN. Спочатку віднісся дуже скептично – за 15 хв. закоптити продукт та ще й
              | холодним чином – не вірилось. Придивлявся, прицінювався. І тут бачу оголошення -продам COSMOGEN CSFE-750 бу. Подумав варто спробувати. Зробив заміри на балконі, де планував поставити коптильню – ідеально. Купив в одному з ресторанів Києва. Мені повідомили, що коптильня в ідеальному стані, все працює – включай і працюй - нам не потрібно, у нас змінився повар і меню, копчення вже не цікавить
              | і тп. Чекати не став. Привіз, поставив на балконі – вписалась в інтер’єр. Замаринував скумбрію, підвісив в коптильні – не працює. Не працювала електростатика. Я спробував закоптити звичайним холодним копченням – тобто працює тільки компресор. За 6 годин все вийшло.
            .user
              .userWrapp
                .avatar
                  img(src="/images/upload/avatar.jpg", alt="Tor")
                .name
                  strong Виктор
                  span=" 11.07.2016, 17:33"
