mixin section2
  .twoSliders
    .wrappContainer
      h2 Какое коптильное оборудование Вас интересует?
      .sliders.darkControl
        .slideOne
          a.btn.btnBrend(href="#")
            i.icon-cm.icon-cold
            span Холодное копчение
          #owl-slideOne
            .slideContent
              .imgContent
                .wrappImg
                  img(src="http://lorempixel.com/500/500/nature/1", alt="")
                .titleImg Cosmogen CSFE-750
            .slideContent
              .imgContent
                .wrappImg
                  img(src="http://lorempixel.com/500/500/people/1", alt="")
                .titleImg Cosmogen CSFE-751
        .slideTwo
          a.btn.btnBrend(href="#")
            i.icon-cm.icon-hot
            span Холодное копчение
          #owl-slideTwo
            .slideContent
              .imgContent
                .wrappImg
                  img(src="http://lorempixel.com/500/500/nature/2", alt="")
                .titleImg Cosmogen CSFE-750
            .slideContent
              .imgContent
                .wrappImg
                  img(src="http://lorempixel.com/500/500/people/2", alt="")
                .titleImg Cosmogen CSFE-751
      h3.desc
        | Затрудняетесь с выбором? Оставьте заявку, и мы подберем коптильню вместе с Вами
      a.btn.btnBrend(href="#") Оставить заявку