mixin whyus
  .whyus
    .wrappContainer
      .brendTitleOrange
        i.icon-cm.icon-fire-white
        h2 Почему мы?
      .row.center
        .col.l4
          i.icon-cm.icon-certificate
          p.desc
            | Наши разработки уникальны и имеют зарегистрированный патент. Мы используем электростатические
            | технологии, которые позволяют сократить время копчения более чем в 6 раз, сохранив при
            | этом все качества присущие традиционному способу копчения
        .col.l4
          i.icon-cm.icon-transport
          p.desc
            | Наши разработки уникальны и имеют зарегистрированный патент. Мы используем электростатические
            | технологии, которые позволяют сократить время копчения более чем в 6 раз, сохранив при
            | этом все качества присущие традиционному способу копчения
        .col.l4
          i.icon-cm.icon-cart
          p.desc
            | Наши разработки уникальны и имеют зарегистрированный патент. Мы используем электростатические
            | технологии, которые позволяют сократить время копчения более чем в 6 раз, сохранив при
            | этом все качества присущие традиционному способу копчения
  .certificate
    .wrappContainer
      .brendTitleWhite
        i.icon-cm.icon-fire-orange
        h2 Патенты и Сертификаты
      .center.documents
        .document
          img.wrappImg(src="images/upload/scannedimage-5.jpg", alt="Сертификат 1")
        .document
          img.wrappImg(src="images/upload/scannedimage-5.jpg", alt="Сертификат 1")
        .document
          img.wrappImg(src="images/upload/scannedimage-5.jpg", alt="Сертификат 1")
  .howWork
    .wrappContainer
      .brendTitleWhite
        i.icon-cm.icon-fire-white
        h2 Как это работает
      iframe(src="https://player.vimeo.com/video/177559327" width="640" height="386" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)