mixin whyus
  .whyus
    .wrappContainer
      .brendTitleOrange
        i.icon-cm.icon-fire-white
        h2 Почему мы?
      .row.center
        .col.l4
          i.icon-cm.icon-certificate
          p.desc
            | Наши разработки уникальны и имеют зарегистрированный патент. Мы используем электростатические
            | технологии, которые позволяют сократить время копчения более чем в 6 раз, сохранив при
            | этом все качества присущие традиционному способу копчения
        .col.l4
          i.icon-cm.icon-transport
          p.desc
            | Наши разработки уникальны и имеют зарегистрированный патент. Мы используем электростатические
            | технологии, которые позволяют сократить время копчения более чем в 6 раз, сохранив при
            | этом все качества присущие традиционному способу копчения
        .col.l4
          i.icon-cm.icon-cart
          p.desc
            | Наши разработки уникальны и имеют зарегистрированный патент. Мы используем электростатические
            | технологии, которые позволяют сократить время копчения более чем в 6 раз, сохранив при
            | этом все качества присущие традиционному способу копчения
  .certificate
    .wrappContainer
      .brendTitleWhite
        i.icon-cm.icon-fire-orange
        h2 Патенты и Сертификаты
      .center.documents
        .document
          a.wrappImg.fancybox(href="/images/upload/scannedimage-5.jpg")
            img(src="images/upload/scannedimage-5.jpg", alt="Сертификат 1")
        .document
          a.wrappImg.fancybox(href="/images/upload/scannedimage-5.jpg")
            img(src="images/upload/scannedimage-5.jpg", alt="Сертификат 1")
        .document
          a.wrappImg.fancybox(href="/images/upload/scannedimage-5.jpg")
            img(src="images/upload/scannedimage-5.jpg", alt="Сертификат 1")
  .howWork
    .wrappContainer
      .brendTitleWhite
        i.icon-cm.icon-fire-white
        h2 Как это работает
       .videoItem
          iframe(width="100%" height="100%" src="https://www.youtube.com/embed/kOkQ4T5WO9E" frameborder="0" allowfullscreen)
        //- if Template 'showVideo'
        //-   iframe(width="560" height="315" src="https://www.youtube.com/embed/kOkQ4T5WO9E" frameborder="0" allowfullscreen)
        //- else
        //-   .videoItemPoster.spriteAfter(style="background-image: url('{{poster.url}}')")

