.reviews
  width: 100%
  text-align: center
  // background-image: url(/images/upload/backLast.jpg)
  // background-size: cover
  // background-repeat: no-repeat
  // background-position: center top
  .parallax-container
    height: 100%

  .brendTitleWhite
    padding-top: 30px
    margin-bottom: 24px
  .reviewOther
    margin-bottom: 0
  .reviewContent
    position: relative
    margin-bottom: 100px
  .desc
    text-align: left
    padding: 34px 39px 34px 49px
    height: auto
    background: #fff
    color: #080808
    font-size: 12px
    font-weight: 400
    line-height: 24px
    border-radius: 3px
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35)
    p
      color: #080808
      font-size: 12px
      font-weight: 400
      line-height: 24px
  .user
    position: absolute
    bottom: -70px
  .userWrapp
    display: flex
    align-items: center
    .name
      color: #fff
      font-size: 16px
      font-weight: 400

  .avatar
    width: 101px
    height: 101px
    border-radius: 50%
    overflow: hidden
    border: solid 5px #fff
    margin-right: 18px

.reviewVkFb
  display: none
  width: 100%

  justify-content: space-between
  .fb-comments
    background-color: #fff


@media #{$desktop}
  .reviewVkFb
    display: flex