.twoSliders
  width: 100%
  background-image: url(/images/upload/back-image.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: center top
  height: 100%
  color: #fff
  padding-top: 50px
  text-align: center
  h1
    margin-bottom: 40px
  h2
    text-align: center
    max-width: 706px
    font-size: 25px
    font-weight: 500
    line-height: 35px
    margin: 0 auto 21px

  .sliders
    max-width: 1100px
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin: 0 auto
  .slideOne, .slideTwo
    width: 100%
    max-width: 547px
    margin: 0 auto
  .btnBrend
    margin: 0 auto 20px
    max-width: 600px
    height: 80px



.slideContent
  margin-bottom: 25px
  .btnBrend
    height: 98px
    margin-bottom: 30px



  .imgContent
    height: 500px
    border-radius: 3px
    padding-top: 53px
    transition: ease-in .3s
    &:hover
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
      background: rgba(255, 255, 255, 0.12)
  .wrappImg
    margin: 0 auto
    overflow: hidden
    max-width: 336px
    max-height: 336px
    width: 100%
    height: auto
    border-radius: 50%
    img
      max-width: 100%
      height: auto
  .titleImg
    max-width: 350px
    margin: 24px auto 0
    color: #fff
    border-top: solid 2px #fff
    border-bottom: solid 2px #fff
    font-size: 20px
    font-weight: 500
    line-height: 32px
    width: 90%
    padding: 14px 0 13px




